@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root   { --active-bg:#f1f5f9; }
.dark   { --active-bg:rgba(255,255,255,.07); }

.active { background-color: var(--active-bg); }
