---
import { useTranslations, type Lang } from "@/i18n";
import TierListEditor from "./TierListEditor";
const t = useTranslations(Astro.currentLocale as Lang);

const JsonData = `
{
    "h1": {
        "en": "Tier List Online"
    },
    "h2":{
        "en": "Create and share your own tier lists!"
    }
}
`;

const data = JSON.parse(JsonData);
---

<section class="relative overflow-hidden py-20 sm:py-24 md:py-32 ">
    <div class="container px-4 sm:px-6">
        <div class="mx-auto flex max-w-5xl flex-col items-center">
            <div class="z-10 flex flex-col items-center gap-8 text-center w-full">
                <div class="w-full">
                    <h1 class="mb-4 sm:mb-6 text-pretty text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold tracking-tight bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent">
                        {t(data.h1)}
                    </h1>
                    <p class="text-zinc-600 dark:text-zinc-300 text-lg sm:text-xl md:text-2xl font-medium">
                        {t(data.h2)}
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-24"></div>
        <TierListEditor client:only></TierListEditor>
    </div>
</section>